altgraph==0.17.2
APScheduler==3.8.1
backports.zoneinfo==0.2.1
bottle==0.12.19
certifi==2021.10.8
chardet==4.0.0
CherryPy==5.6.0
click==7.1.2
colorama==0.4.4
future==0.18.2
idna==2.10
importlib-metadata==0.7
Nuitka==0.6.19.4
pefile==2021.9.3
pyinstaller==4.8
pyinstaller-hooks-contrib==2021.5
pypiwin32==223
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqt5-tools==5.15.4.3.2
PyQtWebEngine==5.15.5
PyQtWebEngine-Qt5==5.15.2
python-dotenv==0.19.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pywin32==303
pywin32-ctypes==0.2.0
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
requests==2.25.1
six==1.16.0
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.8
